services:
  api:
    container_name: tor-nodes-manager-api
    build:
      context: ..
      # dockerfile: docker/Dockerfile
      dockerfile: docker/Dockerfile.dev
    ports:
      - 3000:3000
    env_file:
      - ../config/.env
    depends_on:
      - rabbitmq
      - mongodb
      - redis
    links:
      - rabbitmq
      - mongodb
      - redis

  mongodb:
    container_name: tor-nodes-manager-mongodb
    image: mongo

  redis:
    container_name: tor-nodes-manager-redis
    image: redis
    env_file:
      - ../config/redis.env

  rabbitmq:
    container_name: tor-nodes-manager-rabbitmq
    image: rabbitmq
    env_file:
      - ../config/rabbitmq.env
