services:
  api:
    build:
      context: ..
      # dockerfile: docker/Dockerfile
      dockerfile: docker/Dockerfile.dev
    ports:
      - 3000:3000
    env_file:
      - ../config/.env
    depends_on:
      - mongodb
      - redis
    links:
      - mongodb
      - redis

  mongodb:
    image: mongo
    ports:
      - 27017:27017

  redis:
    image: redis
    ports:
      - 6379:6379
    env_file:
      - ../config/redis.env
